@charset "UTF-8";
@import '../variables';

.page-container {
    padding: 180px 0 100px;
    min-height: 100vh;

    .page-title {
        font-family: $font-serif;
        font-size: 3.5rem;
        color: $color-gold-bright;
        margin-bottom: 20px;
    }

    .page-desc {
        color: $color-text-muted;
        font-size: 1.2rem;
        max-width: 700px;
    }
}