@page
@model GaleriModel
@{
    ViewData["Title"] = "Galeri";
}

@section Styles {
    <link rel="stylesheet" href="~/css/galeri.css" asp-append-version="true" />
}

<div class="page-container">
    <div class="container">
        <h1 class="page-title">Galeri</h1>
        <p class="page-desc">Hizmetlerimizden, etkinliklerimizden ve sanatımızdan kareler.</p>
    </div>
</div>
