@page
@model ProjelerimizModel
@{
    ViewData["Title"] = "Projelerimiz";
}

@section Styles {
    <link rel="stylesheet" href="~/css/projelerimiz.css" asp-append-version="true" />
}

<div class="page-container">
    <div class="container">
        <h1 class="page-title">Projelerimiz</h1>
        <p class="page-desc">Hayata geçirdiğimiz butik konseptler ve imza projelerimiz.</p>
    </div>
</div>
